.c_body_bg{
    background-image: url('/static/images/customer_page_bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

  }

.v_body_bg{
    background-image: url('/static/images/vendor_page_bg.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }

body,
html {
	height: 100%;
	/* display: grid; */
  text-align:  center;
	font-family: "Montserrat", cursive;
  font-weight: 400;
	color: #333;
}

p {
	margin: auto;
}

.large {
	font-size: 6rem;
  font-family: "Oxygen", cursive;
}
.small {
	font-size: 2rem;
  font-family: "Montserrat", cursive;
  font-weight: 400;
}

.main_content {
	font-size: 3rem;
  font-family: "Montserrat", cursive;
  font-weight: 400;
  width: 50%;
  height:50%;
  padding:2%;
  margin: 20%;
  margin-top: 3%;
  text-align: center;
  padding-top: 100px;
  background: rgba(150, 166, 214, 0.8);
  display: inline-block;
}
.main_content .mybtn{
  font-size: 2rem;
  background-color: #EDBBCE;
  height: 50px;

}


.main_content2 {
	font-size: 3rem;
  font-family: "Montserrat", cursive;
  font-weight: 400;
  width: 50%;
  height:60%;
  padding:2%;
  margin: 20%;
  margin-top: 3%;
  text-align: center;
  padding-top: 50px;
  background: rgba(237, 187, 206,0.7);
  display: inline-block;
}
.main_content2 .myinput{
  background-color: #ffe2cd;
  height: 50px;
}
.main_content2 .mybtn{
  font-size: 2rem;
  background-color: #f185ae;
  height: 50px;

}

.rise {
	text-shadow: -0.01em -0.01em 0.01em #000;
	/* animation: rise 1s ease-in-out 0.5s forwards; */
}

@keyframes rise {
	to {
		text-shadow: 0em 0.01em #ffb4d0, 0em 0.02em #ffb4d0, 0em 0.02em 0.03em #ffb4d0,
			-0.01em 0.01em #ffb4d0, -0.02em 0.02em #ffb4d0, -0.03em 0.03em #ffb4d0,
			-0.04em 0.04em #ffb4d0, -0.01em -0.01em 0.03em #ffb4d0, -0.02em -0.02em 0.03em #ffb4d0,
			-0.03em -0.03em 0.03em #ffb4d0;
		transform: translateY(-0.025em) translateX(0.04em);
	}
}

.outline {
	background-clip: text;
	color: #ffb4d0;
xs	/* animation:ease 1.5s forwards; */
}

@keyframes outline {
	from {
		text-shadow: 0em -7em 10em #fff;
	}
	to {
		text-shadow: 0 0.02em #fff, 0.02em 0 #fff, -0.02em 0 #fff, 0 -0.02em #fff;
	}
}

/* ################### */
/* body{
  background: hsl(210 30% 24%);
} */

.myinput{
  border-radius: 20px;
  margin-bottom: 10px;
  border: none;
  font-size: 20px;
  text-align: center;
  background-color: #fdf;

}

.mybtn{
  border-radius: 20px;
  margin-bottom: 10px;
  border: none;
  font-size: 20px;
  background-color: #fdfad9;

}

.navbar_head{

  text-align: center;
  color: white;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav {
  background-color: #565D92;
  overflow: hidden;
  border-bottom: 20px;
  border-color: black;
  margin-bottom: 5%;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: "Montserrat";
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* .topnav p {

  float: center;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}





/* ################## */

.scale-in {
	-webkit-animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-ver-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


/* ----------------------------------------------
* Generated by Animista on 2022-11-24 16:40:49
* Licensed under FreeBSD License.
* See http://animista.net/license for more info.
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */

/**
* ----------------------------------------
* animation scale-in-ver-top
* ----------------------------------------
*/
@-webkit-keyframes scale-in-ver-top {
 0% {
   -webkit-transform: scaleY(0);
           transform: scaleY(0);
   -webkit-transform-origin: 100% 0%;
           transform-origin: 100% 0%;
   opacity: 1;
 }
 100% {
   -webkit-transform: scaleY(1);
           transform: scaleY(1);
   -webkit-transform-origin: 100% 0%;
           transform-origin: 100% 0%;
   opacity: 1;
 }
}
@keyframes scale-in-ver-top {
 0% {
   -webkit-transform: scaleY(0);
           transform: scaleY(0);
   -webkit-transform-origin: 100% 0%;
           transform-origin: 100% 0%;
   opacity: 1;
 }
 100% {
   -webkit-transform: scaleY(1);
           transform: scaleY(1);
   -webkit-transform-origin: 100% 0%;
           transform-origin: 100% 0%;
   opacity: 1;
 }
}
